<h2>Art</h2>
<div id="blog_body">
  <section>
  <h3>Conference Speaker Packet - <%= link_to 'PDF', 'pdfs/swib_speakers.pdf' %></h3>
  A speaker packet I made for Stanford Women In Business's 6th annual spring conference, "Insights Across the Business Spectrum". Stock image from SXC.hu from user <%= link_to 'miamiamia', 'www.sxc.hu/profile/miamiamia' %>.
  </section>
</div>