<h2>About</h2>
<p>
  I'm <b>Tina Roh</b>, an undergraduate junior studying Computer Science at Stanford University.
  I love code, technology, psychology, and art. I'm currently interested in natural language processing -- pathe information of the world to feed seamless human-computer interactions -- and calm technology. Iaesthetics, from graphic design to typography. I hope to one day develop the design and coding skills to cproducts that revolutionize the way we interact with the world through technology.
</p>