<h2>About</h2>
<div id="blog_body">
  <p>
  I'm <b>Tina Roh</b>, an undergraduate junior studying Computer Science at Stanford University.
  I love code, technology, psychology, and art. I'm currently interested in natural language processing -- parsing the information of the world to feed seamless human-computer interactions -- and calm technology. I enjoy aesthetics, from graphic design to typography. I hope to one day develop the design and coding skills to create products that revolutionize the way we interact with the world through technology.
  </p>
</div>