<h2>Writing</h2>
<div id="blog_body">
  <section>
  <h3>Gendered Natural Language Processing - <%= link_to 'PDF', 'pdfs/gendered_nlp.pdf' %></h3>
  Initiated the <%= link_to 'Gendered Innovations', 'genderedinnovations.stanford.edu/index.html' %> case study in machine translation, which is currently in progress. Written for a general audience. I discuss gender issues that arise from bottom-up processing in NLP. 
  </section>

  <section>
  <h3>Gaming through Glitches - <%= link_to 'PDF', 'www.stanford.edu/dept/undergrad/cgi-bin/drupal_pwr/sites/default/files/common/docs/BoothePWR1204Roh.pdf' %></h3>
  Essay written in freshman year for my Program in Writing and Rhetoric class, "The Rhetoric of Gaming". It won the <%=link_to 'Boothe Prize', 'www.stanford.edu/dept/undergrad/cgi-bin/drupal_ual/AP_univ_req_PWR_Boothe.html' %> in Spring 2011.
  </section>
</div>